
.rc-slider {
}

.rc-slider-rail {
  // background: var(--primary);
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.05);
  border-radius: 0;
  height: 15px;
}

.rc-slider-track {
  display: none;
}

.rc-slider-handle {
  height: 28px;
  // background: white;
  background: var(--primary);
  color: white;
  margin-left: 0;
  border: none;
  border-radius: 0;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  width: 25px;

  &:focus, :hover {
    box-shadow: 0 20px 80px rgba(0,0,0,.1), 0 5px 20px rgba(0,0,0,.05);
  }
}


.rc-slider-i .rc-slider-handle::after {
  content: 'i';
}

.rc-slider-j {
  margin-bottom: 15px;
}

.rc-slider-j .rc-slider-handle::after {
  content: 'j';
}
